<div class="container">
  <h1>Update Todo</h1>
  <!-- <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Description</label>
      <input type="text" class="form-control" [(ngModel)]="todo.description" 
      placeholder="Enter Description" required="required">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Target Date</label>
      <input type="date" class="form-control" [ngModel]="todo.targetDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="todo.targetDate = $event" placeholder="Target Date"
        required="required">
    </div>
    <button type="submit" class="btn btn-success">Save</button>
  </form> -->

  <!-- <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid"> Enter valid form Values</div> -->
  
  
  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
      <div class="alert alert-warning" *ngIf="description.dirty && description.invalid"> Enter min 5 chars</div>
      <label>Description</label>
      <input type="text" #description="ngModel" 
            [(ngModel)]="todo.description" class="form-control" 
                name="description" required="required" minlength="5">
    </fieldset>

    <fieldset class="form-group">
      <div class="alert alert-warning" *ngIf="targetDate.dirty && targetDate.invalid"> Enter valid date</div>
        <label>Target Date</label>
        <input type="date" #targetDate="ngModel"
        [ngModel]="todo.targetDate | date:'yyyy-MM-dd' "
        (ngModelChange)="todo.targetDate = $event"
        class="form-control" name="targetDate" required="required" >
    </fieldset>

    <button type="submit" class="btn btn-success">Save</button>
  </form>  

</div>

<!-- 
<form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
  <fieldset class="form-group">
    <label>Description</label>
    <input type="text" #description="ngModel" 
          [(ngModel)]="todo.description" class="form-control" 
              name="description" required="required" minlength="5">
  </fieldset>

  <fieldset class="form-group">
      <label>Target Date</label>
      <input type="date" #targetDate="ngModel"
      [ngModel]="todo.targetDate | date:'yyyy-MM-dd' "
      (ngModelChange)="todo.targetDate = $event"
      class="form-control" name="targetDate" required="required" >
  </fieldset>

  <button type="submit" class="btn btn-success">Save</button>
</form>   -->